@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Work+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #3182ce;
  --black: #010506;
  --orange: #e35f21;
  --white: #eef8f7;
  --red: rgb(220, 38, 38);
}
body {
}
h1,
h2 {
  font-family: "Tenor Sans", sans-serif;
}
p {
  font-family: "Work Sans", sans-serif;
}
.jumbo {
  height: 60vh;
  background: rgba(255, 0, 0, 0.1);
  background-image: url(../images/jumbo.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}
.jumbo h1 {
  text-shadow: var(--black) 0.5px 0.5px 0.5px;
}
.underline {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

@media (min-width: 639px) {
  .jumbo {
    /* height: 50vh; */
    /* background-position: 0 -100px; */
  }
}
@media (min-width: 768px) {
  .jumbo h1 {
    margin-left: -33.33%;
    /* border-left: 1px solid var(--red); */
  }
  .underline {
    text-decoration: none;
  }
}
@media (min-width: 1023px) {
  .jumbo {
    height: 80vh;
    background-position: 0 -50px;
  }
}

.category:before {
  position: absolute;
  bottom: 1.5rem;
  display: inline-block;
  width: 10rem;
  height: 0.5rem;
  content: "";
  background: linear-gradient(to right, var(--red), var(--white));
  border-radius: 2rem 0 0 2rem;
  z-index: -1;
}
.logo {
  width: 100px;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
}
@media (min-width: 1023px) {
  .logo {
    width: 125px;
  }
}
.logo span {
  letter-spacing: 5px;
  font-size: initial;
}
